{BEGIN item1_menulink}
<option {$item1_optionattrs} {BEGIN item1_current}selected{END item1_current}>{$item1_nbsps}Feed ingredient details</option>
{END item1_menulink}
{BEGIN item2_menulink}
<option {$item2_optionattrs} {BEGIN item2_current}selected{END item2_current}>{$item2_nbsps}Proximate analysis of feed ingredient</option>
{END item2_menulink}
{BEGIN item3_menulink}
<option {$item3_optionattrs} {BEGIN item3_current}selected{END item3_current}>{$item3_nbsps}Detailed nutrient composition analysis of feed ingredient</option>
{END item3_menulink}
{BEGIN item4_menulink}
<option {$item4_optionattrs} {BEGIN item4_current}selected{END item4_current}>{$item4_nbsps}Ingredients Spec. Association</option>
{END item4_menulink}
