{BEGIN searchPanel}
<style>
<!--

.searchOptions div{
	/*margin: 10px 0px 10px 10px;*/
	padding: 10px 0px 10px 10px;
}



#addOption{$id}{
	/*padding: 1px 5px 13px 5px !important;*/
}

.addOptionLink{
	margin: 1px 5px 13px 5px !important;
}

#bottomSearchButt{$id}{
	padding: 13px 1px 5px 1px !important;
}
#controlChooseMenu{$id}{
	position: absolute;			
	display: none;	
	width: auto;
	text-align: left;
	
}	

#controlsBlock_{$id}{
	/*display:table;*/
	width: 180px;
}

.srchPanelTable, .srchPanelRow{
	padding:0px !important;
}

.srchPanelRow{
	overflow: hidden;
	width: 180px;
	margin: 0px !important;
}

.srchPanelCell{
	/*padding: 2px !important;*/
	/*margin: 2px 0px 2px 2px !important;*/
	padding: 2px 0px 2px 2px !important;
	float: left; !important;	
}

.srchPanelCell2{
	/*width: 100%;*/
	width: 170px; 
	/*margin-left: 17px !important;*/
	padding-left: 17px !important;
}
.winTable{	
	/*border-collapse: collapse;*/
	border-collapse: separate;	
}

.delButt{
	visibility: hidden;
}



.addSearchControl{
	margin: 5px;
}

.critCont{
	margin: 10px 0px 0px 0px; 
}
-->
</style>



<div id="searchOptions{$id}" class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div id="srchCritTop{$id}" class="critCont" style="display: none;">
		Criteria:&nbsp;
    	<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	<div id="addOption{$id}" class="addOption">
      	<a id="showHideControlChooseMenu{$id}"  class="tablelinkssearch" {$showHideCtrls_attrs}>Add field</a>&nbsp;&nbsp;&nbsp;
		<a id="showHideSearchType{$id}"  class="tablelinkssearch" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>		
	</div>
	<!-- choose controls div -->
	<div id="controlChooseMenu{$id}" class="controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_IngredientID}
			<a id="addSearchControl_IngredientID" class="addSearchControl" {$addSearchControl_IngredientID_attrs}>Ingredient ID</a>
		{END addSearch_IngredientID}
		{BEGIN addSearch_ElementID}
			<a id="addSearchControl_ElementID" class="addSearchControl" {$addSearchControl_ElementID_attrs}>Element ID</a>
		{END addSearch_ElementID}
		{BEGIN addSearch_UnitDecimal}
			<a id="addSearchControl_UnitDecimal" class="addSearchControl" {$addSearchControl_UnitDecimal_attrs}>Unit Decimal</a>
		{END addSearch_UnitDecimal}
		{BEGIN addSearch_UnitSymbol}
			<a id="addSearchControl_UnitSymbol" class="addSearchControl" {$addSearchControl_UnitSymbol_attrs}>Unit Symbol</a>
		{END addSearch_UnitSymbol}
		{BEGIN addSearch_UnitName}
			<a id="addSearchControl_UnitName" class="addSearchControl" {$addSearchControl_UnitName_attrs}>Unit Name</a>
		{END addSearch_UnitName}
		{BEGIN addSearch_ElementTypeID}
			<a id="addSearchControl_ElementTypeID" class="addSearchControl" {$addSearchControl_ElementTypeID_attrs}>Element Type ID</a>
		{END addSearch_ElementTypeID}
		{BEGIN addSearch_IValue}
			<a id="addSearchControl_IValue" class="addSearchControl" {$addSearchControl_IValue_attrs}>Inclusion</a>
		{END addSearch_IValue}
		{BEGIN addSearch_UnitID}
			<a id="addSearchControl_UnitID" class="addSearchControl" {$addSearchControl_UnitID_attrs}>Unit ID</a>
		{END addSearch_UnitID}
		{BEGIN addSearch_EName}
			<a id="addSearchControl_EName" class="addSearchControl" {$addSearchControl_EName_attrs}>Element Name</a>
		{END addSearch_EName}
		{BEGIN addSearch_CommonName}
			<a id="addSearchControl_CommonName" class="addSearchControl" {$addSearchControl_CommonName_attrs}>Symbol/Common Name</a>
		{END addSearch_CommonName}
		{BEGIN addSearch_TagName}
			<a id="addSearchControl_TagName" class="addSearchControl" {$addSearchControl_TagName_attrs}>Technical description</a>
		{END addSearch_TagName}
		{BEGIN addSearch_Description}
			<a id="addSearchControl_Description" class="addSearchControl" {$addSearchControl_Description_attrs}>Category</a>
		{END addSearch_Description}
	</div>
	<!-- search window controls block, make it visible in window mode and hidden in panel -->
	<table id="controlsBlock_{$id}_win" class="winTable" style="display: none;" CELLPADDING="3">
	{BEGIN searchCtrlBlock_win}			
		<tr class="winRow" {$filterRow_attrs}>	
			<td class="srchWinCell"></td>		
			<td class="srchWinCell"></td>
			<td class="srchWinCell" {$srchTypeCont_attrs_win}></td>
			<td class="srchWinCell"></td>
			<td class="srchWinCell"></td>			
		</tr>
	{END searchCtrlBlock_win}
	</table>
	<!-- add for each for get predefined fields for list search panel, not adv search, visible in panel mode and hidden in window -->	
	<div id="controlsBlock_{$id}" class="srchPanelTable">		
	{BEGIN searchCtrlBlock}			
		<div class="srchPanelRow blockBorder" {$filterDiv_attrs}>	
			<div class="srchPanelCell">{$delCtrlButt}</div>		
			<div class="srchPanelCell">{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2" {$srchTypeCont_attrs}>{$searchtype}</div>
			<div class="srchPanelCell srchPanelCell2" >{$searchcontrol}</div>
			<div class="srchPanelCell srchPanelCell2" {$secCtrlCont_attrs}>{$searchcontrol1}</div>			
		</div>
	{END searchCtrlBlock}
	</div>
	<div id="bottomSearchButt{$id}" align="center" {$bottomSearchButt_attrs}>
		<span class=buttonborder><input type=button class="button" value="Search" {$searchbutton_attrs}></span> 
	</div>
</div>
{END searchPanel}