<p>Master table: [Feed ingredient details]</p>

<table border=0 width=20% CELLPADDING=3 CELLSPACING=1 class="grid_block">
<!-- header -->
<tr valign="top">
<td><b>Sub-classification</b></td>
<td><b>Ingredient name</b></td>
<td><b>Scientific name</b></td>
<td><b>International feed no.</b></td>
</tr>
<!-- data -->
<tr >
<td>
{$Description4_mastervalue}
</td>
<td>
{$IName_mastervalue}
</td>
<td>
{$Species_mastervalue}
</td>
<td>
{$IfeedNo_mastervalue}
</td>
</tr>

</table>
