<html {$html_attrs}>
<link REL="stylesheet" href="include/style.css" type="text/css">
<body>
{BEGIN body}
{$header}
	<table width=440 border=0 cellpadding=3><tr><td>
	<TABLE WIDTH=100% CELLPADDING=0 CELLSPACING=0 BORDER=0>
	<TR><TD align=center>
	<table border=0 width=100% CELLPADDING=3 CELLSPACING=1 BGCOLOR=black>
	<tr class=blackshade>
		{BEGIN rangeheader_block}<td align=center>Data range</td>{END rangeheader_block}
		<td align=center>Output format</td>
	</tr>
	<tr valign=top>
	{BEGIN range_block}
	<td width=220 bgcolor=white>
		<INPUT TYPE="Radio" NAME="records" VALUE="all" CHECKED> All records<br>
		<INPUT TYPE="Radio" NAME="records" VALUE="page"> Current page only<br>
	</td>
	{END range_block}
	<td width=220 bgcolor=white>
		<table>
			<tr>
				<td><INPUT TYPE="Radio" NAME="type" VALUE="excel" CHECKED> <img src="images/excel.gif" align="absmiddle">&nbsp;Excel<td>
			</tr>
			<tr>
				<td><INPUT TYPE="Radio" NAME="type" VALUE="word"> <img src="images/word.gif" align="absmiddle">&nbsp;Word<td>
			</tr>
			<tr>
				<td ><INPUT TYPE="Radio" NAME="type" VALUE="csv"> <img src="images/csv.gif" align="absmiddle">&nbsp;CSV (comma separated values)<td>
			</tr>
			<tr>
				<td ><INPUT TYPE="Radio" NAME="type" VALUE="xml"> <img src="images/xml.gif" align="absmiddle">&nbsp;XML<td>
			</tr>
				</table>	
	</td>
	</tr>
	<tr height=40 valign=middle>
	<td colspan=2 align=center bgcolor=white>
	<input type=submit name=btnSubmit  value="Export" class=button>
	</td>
	</tr>
	</table>
</td></tr></table></td></tr></table>
{$footer}	
{END body}
</body>
</html>
