<html {$html_attrs}>
<head>
<title>Vw Fullfeedelementanalysis: Advanced search page</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block {margin:0 auto;}
#contents_block {text-align:center;width:100%}
#header_block {white-space:nowrap;height:31px;padding-top:5px;}
#main_block {padding:10px 0;width:100%}
#inmain_block {margin:0 10px}
#fields_block {width:100%}
#buttons_block {width:100%;padding:10px 0;}
#buttons_block > * {margin:0 2px}
</style>
<!--[if IE]>
<style>
#main_block {padding:10px 10;}
#inmain_block {margin:0 0px}
</style>
<![endif]-->
</head>
<body bgcolor=white>
{BEGIN body}
{$header}	
{BEGIN contents_block}
<table align=center id="center_block" style="BORDER: #cccccc 1px solid;"><tr><td id="contents_block">
	
<div id="header_block" class=tableheader>
Vw Fullfeedelementanalysis - Advanced search
</div>

{BEGIN conditions_block}
<DIV id=conditions_block>
<span class=fieldname>Search for: </span>
<input type="radio" name="type" {$all_checkbox}>All conditions
&nbsp;&nbsp;&nbsp;
<input type="radio" name="type" {$any_checkbox}>Any condition
</div>
{END conditions_block}

<table cellpadding=4 cellspacing=0 border=0 id="fields_block">
<tr valign=center class=blackshade>
<td align=center valign=middle>&nbsp;</td>
<td width=30 align=center valign=middle class=fieldname>NOT</td>
<td colspan=3 align=center valign=middle>&nbsp; </td></tr>

{BEGIN EName_fieldblock}	
<tr class=shade>
	<td class=fieldname>Element Name
	<td align=center><input type=checkbox {$EName_notbox}></td>
	<td>{$searchtype_EName}</td>
	<td width=270>{$EName_editcontrol}</td>
    <td width=270><span id="second_EName">
	{$EName_editcontrol1}
	</span></td>
</tr>
{END EName_fieldblock}	
{BEGIN CommonName_fieldblock}	
<tr class=shade>
	<td class=fieldname>Symbol/Common Name
	<td align=center><input type=checkbox {$CommonName_notbox}></td>
	<td>{$searchtype_CommonName}</td>
	<td width=270>{$CommonName_editcontrol}</td>
    <td width=270><span id="second_CommonName">
	{$CommonName_editcontrol1}
	</span></td>
</tr>
{END CommonName_fieldblock}	
{BEGIN TagName_fieldblock}	
<tr class=shade>
	<td class=fieldname>Technical description
	<td align=center><input type=checkbox {$TagName_notbox}></td>
	<td>{$searchtype_TagName}</td>
	<td width=270>{$TagName_editcontrol}</td>
    <td width=270><span id="second_TagName">
	{$TagName_editcontrol1}
	</span></td>
</tr>
{END TagName_fieldblock}	
{BEGIN UnitName_fieldblock}	
<tr class=shade>
	<td class=fieldname>Unit Symbol
	<td align=center><input type=checkbox {$UnitName_notbox}></td>
	<td>{$searchtype_UnitName}</td>
	<td width=270>{$UnitName_editcontrol}</td>
    <td width=270><span id="second_UnitName">
	{$UnitName_editcontrol1}
	</span></td>
</tr>
{END UnitName_fieldblock}	
{BEGIN iValue_fieldblock}	
<tr class=shade>
	<td class=fieldname>Inclusion
	<td align=center><input type=checkbox {$iValue_notbox}></td>
	<td>{$searchtype_iValue}</td>
	<td width=270>{$iValue_editcontrol}</td>
    <td width=270><span id="second_iValue">
	{$iValue_editcontrol1}
	</span></td>
</tr>
{END iValue_fieldblock}	
</table>

<div class="blackshade" id="buttons_block">
{BEGIN search_button}
 <span class=buttonborder><input class=button type=button value="Search" {$searchbutton_attrs}></span>
{END search_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=button value="Reset" {$resetbutton_attrs}></span>
{END reset_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Back to list" {$backbutton_attrs}></span>
{END back_button}
</div>
</td></tr></table>
{END contents_block}
{$footer}
{END body}
</body>
</html>
